.venv
.coverage
.coverage.*
_build
.DS_Store
.vscode
docs/_static/pypi.svg
.tox
__pycache__

# Packaging artifacts
verde.egg-info
verde.dist-info
build/
dist/
pip-wheel-metadata/
.eggs

src/_verde_version.py
.idea

.dmypy.json
*.swp
.hypothesis/
venv/
.ipynb_checkpoints/
